configs
winvenv
*.html
*.txt
__pycache__
airflow/logs
airflow/airflow*
airflow/webserver_config.py
postgres-db-volume
*.env
config.py

# frontend, taken from here: https://github.com/facebook/react/blob/main/.gitignore
.DS_STORE
sec-form-4-frontend/node_modules
sec-form-4-frontend/scripts/flow/*/.flowconfig
sec-form-4-frontend/.flowconfig
sec-form-4-frontend/*~
sec-form-4-frontend/*.pyc
sec-form-4-frontend/.grunt
sec-form-4-frontend/_SpecRunner.html
sec-form-4-frontend/__benchmarks__
sec-form-4-frontend/build/
sec-form-4-frontend/remote-repo/
sec-form-4-frontend/coverage/
sec-form-4-frontend/.module-cache
sec-form-4-frontend/fixtures/dom/public/react-dom.js
sec-form-4-frontend/fixtures/dom/public/react.js
sec-form-4-frontend/test/the-files-to-test.generated.js
sec-form-4-frontend/*.log*
sec-form-4-frontend/chrome-user-data
sec-form-4-frontend/*.sublime-project
sec-form-4-frontend/*.sublime-workspace
sec-form-4-frontend/.idea
sec-form-4-frontend/*.iml
sec-form-4-frontend/.vscode
sec-form-4-frontend/*.swp
sec-form-4-frontend/*.swo

sec-form-4-frontend/packages/react-devtools-core/dist
sec-form-4-frontend/packages/react-devtools-extensions/chrome/build
sec-form-4-frontend/packages/react-devtools-extensions/chrome/*.crx
sec-form-4-frontend/packages/react-devtools-extensions/chrome/*.pem
sec-form-4-frontend/packages/react-devtools-extensions/firefox/build
sec-form-4-frontend/packages/react-devtools-extensions/firefox/*.xpi
sec-form-4-frontend/packages/react-devtools-extensions/firefox/*.pem
sec-form-4-frontend/packages/react-devtools-extensions/shared/build
sec-form-4-frontend/packages/react-devtools-extensions/.tempUserDataDir
sec-form-4-frontend/packages/react-devtools-fusebox/dist
sec-form-4-frontend/packages/react-devtools-inline/dist
sec-form-4-frontend/packages/react-devtools-shell/dist
sec-form-4-frontend/packages/react-devtools-timeline/dist
